{% extends "base.html" %}

{% block title %}Create new account{% endblock %}

{% block body_content %}
    <div class="login100-pic js-tilt" data-tilt>
					<img src="{{ url('media', filename='images/img-01.png') }}" alt="IMG">
				</div>
    <form class="login100-form validate-form" method="post" action="{{ url('createuser') }}">
					<span class="login100-form-title">
						Account Information
					</span>

                    <div class="wrap-input100 validate-input">
						<input class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i>
						</span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" id="password" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" id="confirm_password" type="password" name="confirm_password" placeholder="Confirm Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Sign In
						</button>
					</div>


					<div class="text-center p-t-136">
						<a class="txt2" href="{{ url('homepage') }}">
                            <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
							Back to login
						</a>
					</div>
				</form>
{% endblock %}